<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12 ml-auto mr-auto">
        <div class="page-categories">
          <ul class="nav nav-pills nav-pills-minecraft nav-pills-icons justify-content-center" role="tablist">
            <li class="nav-item">
              <a class="nav-link active" data-toggle="tab" href="#常用" role="tablist">
                <i class="material-icons">favorite</i>
                常用
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" data-toggle="tab" href="#全部" role="tablist">
                <i class="material-icons">apps</i>
                全部
              </a>
            </li>
          </ul>
          <div class="tab-content tab-space tab-subcategories">
            <div class="tab-pane active" id="常用">
              <div class="row">
                <div class="col-lg-4 cards">
                  <div class="card card-pricing card-raised">
                    <div class="card-body">
                      <h3 class="card-category">FMC</h3>
                      <button mat-raised-button class="btn btn-success btn-lg">开始游戏</button>
                      <div class="card-description">
                        <div class="dropdown">
                          <button mat-raised-button class="dropdown-toggle btn btn-link btn-sm" data-toggle="dropdown">
                            1.7.2 forge-16.3.384
                            <b class="caret"></b>
                          </button>
                          <ul class="dropdown-menu dropdown-menu-left">
                            <li class="dropdown-header">选择版本</li>
                            <li>
                              <a href="#">1.7.2 forge-16.3.384</a>
                            </li>
                            <li>
                              <a href="#">1.7.2 forge-15.6.123</a>
                            </li>
                            <li>
                              <a href="#">1.7.2</a>
                            </li>
                          </ul>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="tab-pane" id="全部">
              <div class="row">
                <div class="col-lg-4 cards">
                  <div class="card card-pricing card-raised">
                    <div class="card-body">
                      <h3 class="card-category">FMC</h3>
                      <button mat-raised-button class="btn btn-success btn-lg">开始游戏</button>
                      <div class="card-description">
                        <div class="dropdown">
                          <button mat-raised-button class="dropdown-toggle btn btn-link btn-sm" data-toggle="dropdown">
                            1.7.2 forge-16.3.384
                            <b class="caret"></b>
                          </button>
                          <ul class="dropdown-menu dropdown-menu-left">
                            <li class="dropdown-header">选择版本</li>
                            <li>
                              <a href="#">1.7.2 forge-16.3.384</a>
                            </li>
                            <li>
                              <a href="#">1.7.2 forge-15.6.123</a>
                            </li>
                            <li>
                              <a href="#">1.7.2</a>
                            </li>
                          </ul>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-lg-4 cards">
                  <div class="card card-pricing card-raised">
                    <div class="card-body">
                      <h3 class="card-category">FMC</h3>
                      <button mat-raised-button class="btn btn-success btn-lg">开始游戏</button>
                      <div class="card-description">
                        <div class="dropdown">
                          <button mat-raised-button class="dropdown-toggle btn btn-link btn-sm" data-toggle="dropdown">
                            1.7.2 forge-16.3.384
                            <b class="caret"></b>
                          </button>
                          <ul class="dropdown-menu dropdown-menu-left">
                            <li class="dropdown-header">选择版本</li>
                            <li>
                              <a href="#">1.7.2 forge-16.3.384</a>
                            </li>
                            <li>
                              <a href="#">1.7.2 forge-15.6.123</a>
                            </li>
                            <li>
                              <a href="#">1.7.2</a>
                            </li>
                          </ul>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-lg-4 cards">
                  <div class="card card-pricing card-raised">
                    <div class="card-body">
                      <h3 class="card-category">FMC</h3>
                      <button mat-raised-button class="btn btn-success btn-lg">开始游戏</button>
                      <div class="card-description">
                        <div class="dropdown">
                          <button mat-raised-button class="dropdown-toggle btn btn-link btn-sm" data-toggle="dropdown">
                            1.7.2 forge-16.3.384
                            <b class="caret"></b>
                          </button>
                          <ul class="dropdown-menu dropdown-menu-left">
                            <li class="dropdown-header">选择版本</li>
                            <li>
                              <a href="#">1.7.2 forge-16.3.384</a>
                            </li>
                            <li>
                              <a href="#">1.7.2 forge-15.6.123</a>
                            </li>
                            <li>
                              <a href="#">1.7.2</a>
                            </li>
                          </ul>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-lg-4 cards">
                  <div class="card card-pricing card-raised">
                    <div class="card-body">
                      <h3 class="card-category">FMC</h3>
                      <button mat-raised-button class="btn btn-success btn-lg">开始游戏</button>
                      <div class="card-description">
                        <div class="dropdown">
                          <button mat-raised-button class="dropdown-toggle btn btn-link btn-sm" data-toggle="dropdown">
                            1.7.2 forge-16.3.384
                            <b class="caret"></b>
                          </button>
                          <ul class="dropdown-menu dropdown-menu-left">
                            <li class="dropdown-header">选择版本</li>
                            <li>
                              <a href="#">1.7.2 forge-16.3.384</a>
                            </li>
                            <li>
                              <a href="#">1.7.2 forge-15.6.123</a>
                            </li>
                            <li>
                              <a href="#">1.7.2</a>
                            </li>
                          </ul>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
