<div class="row" *ngIf="games.favorite.length !== 0">
  <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12 ml-auto mr-auto">
    <div class="card card-plain">
      <div class="card-header card-header-rose card-header-text">
        <div class="card-text">
          <h4 class="card-title">
            常用({{games.favorite.length}})
          </h4>
        </div>

      </div>
      <div class="row card-body">
        <div class="col-sm-6 col-md-4 col-lg-3 col-xl-2 cards" *ngFor="let game of games.favorite">
          <app-game [game]=game></app-game>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row" *ngIf="games.total.length !== 0">
  <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12 ml-auto mr-auto">
    <div class="card card-plain">
      <div class="card-header card-header-info card-header-text">
        <div class="card-text">
          <h4 class="card-title">
            全部({{games.total.length}})
          </h4>
        </div>
      </div>
      <div class="row card-body">
        <div class="col-sm-6 col-md-4 col-lg-3 col-xl-2 cards" *ngFor="let game of games.total">
          <app-game [game]=game></app-game>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-3 col-xl-2 cards">
          <app-game-add-button></app-game-add-button>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row" *ngIf="games.total.length == 0">
  <div class="col-sm-12 col-md-10 col-lg-8 col-xl-6 ml-auto mr-auto text-center">
    <span>哦豁, 这还没有客户端, 快去<a href="#" routerLink="/game/add">添加</a>一个吧</span>
  </div>
</div>
