/* You can add global styles to this file, and also import other style files */
@font-face {
  font-family: ‘MicrosoftYaHei’;
  src: url('assets/fonts/MicrosoftYaHei.woff') format('woff'){}
}

html, body {
  height: 100%;
}

body {
  font-family: MicrosoftYaHei, sans-serif;
}
