mat-sidenav-container {
  height: 100%;
}

// override
.mat-list-base .mat-list-item .mat-list-item-content {
  padding: 0 !important;
}

mat-sidenav {
  width: 12rem;

  mat-list {
    .last {
      position: absolute;
      bottom: 0
    }


    mat-list-item {
      // override

      a {
        padding: 0;
      }

      .game {
        display: flex;
        align-items: center;

        .desc {
          display: flex;
          flex-wrap: wrap;

          span {
            display: flex;
          }
        }
      }
    }
  }
}
